# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Output of build scripts
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.ds_store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary / Scratch build logs
build_err.txt
build_output.txt
